/*// FONT FAMILY HELPERS :)
// font-family: 'Oswald', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Source Sans Pro', sans-serif;*/
body, h1, h2, h3, p, h4, h5, h6 {
	font-family: 'Source Sans Pro', 'Baslerville';
	margin:0;
}

#wrapper {
	max-width:100%;
}
#header{
/*	border-bottom: 10px solid blue;*/
	padding-top: 20px;
	padding-bottom: 20px;
	background: linear-gradient(135deg, gray, white);
}


#nav a {
	display: block;
	text-align:center;
	width:300px;
	text-decoration: none;
	margin:10px;
	font-size: 28px;
	color: white;
}
#header #nav {
	margin:0 auto;
	display:inline;
	text-align: center;
	width:750px;
	color:orange;


}
#nav li{
	float:left;
}
#header #nav a:hover {
	color: white;
	background: #900;


}
#header h1 {
/*	display: inline;*/
	text-align: center;
	color:blue;
	padding-left:20px;
	font-size: 60px;
	font-family:baskerville;
}	
#header h2 {
	text-align: center;
	color: black;
	font-size:40px;
	padding-bottom:20px;
}

#headertwo{
	clear:both;
	height:50px;
	font-family:'Merriweather';
}
#headertwo h2{
	font-family:Merriweather;
	padding-left:20px;
	padding: 15px;
}
.underline {
	border-bottom:2px solid blue;

}
.taste{
	text-decoration:line-through;
	color:gray;
}
#wrappertwo{
	overflow:auto;
}

#main{
	background: url(../img/cater1.img.jpg) center center no-repeat;*/
	background-size: cover;
	overflow: hidden;
	padding: 3%;
	box-shadow: inset 0 0 5px rgba(0,0,0,.75);
	float:left;
	overflow:auto;
	padding:40px;
	background-color: gray;
	float:left;
	width:100%;
	height:30%;

}
#center{
	width:300px;
	background-color: rgba(235,229,229,.5);
	float:right;
	padding:30px;
	float:right;
}

.bottom{
	width:100%;
	margin-top:10px;
	padding:10px;
	padding-bottom:30px;
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;
	overflow:hidden;
	background: linear-gradient(135deg, gray, white);

}


.footer{
	width:100%;
	background-color:black;
	color:white;
	padding-bottom:20px;
	padding-top:20px;
	padding-left:20px;
}
.clear{
	clear:both;
}
.button{
	Width:300px;
	Font:30px bold black;
	border-radius:10px;
	font-family:oswald;

}
#yellow{
	background-color:yellow;
}
#estimate{
	float:left;
	margin-right:20px;
	width:30%;
	padding-bottom:20px;
	border-right:1px solid #ccc;
	border-bottom:20px;

	/*background-color: rgba(235,229,229,.5);*/
}

#photos{
	float:left;
	margin-right: 20px;
	width:30%;
	border-right:1px solid #ccc;
	border-bottom:20px;
	padding-bottom:20px;
	/*background-color:rgba(235,229,229,.5);*/

}
#testimonials{
	float:right;
	width:30%;
	/*background-color:rgba(235,229,229,.5);*/
	margin-right:30px;
	padding-right:20px;
	padding-bottom:20px;
	border-bottom:20px;

}
h3{
	font:40px bold;
	color:black;

}
h4 {
	font-size: 36px;
	font-weight: normal;
	color: black;
	padding: 0;
	font:bold;
}


