.container{
	margin-left:; 54px;
	max-width: 720px;
	margin-top: 20px;
	border-left: 1px solid black;

}

h1{
	color: red;
	line-height: 1.5;
	font-family:lato;
	font-size:40px;
	padding-left:10px;
}

h2{
	font-size:30px
	color: black;
	font-family:lato;
	padding-left:10px;
}

h3{
	color:black;
	font-size:40px;
	font-family: :lato;
	padding-left:10px;
}
section{
	padding-left: 10px;
}
.topnav{
	padding-left: 10px;
}
.topnav a{
	color: #dddddd;
	margin-bottom:10px;
	margin-right: 10px;
	font-size:20px;

}

.date{
	color: #cccccc;
}

.continues{
	text-align:right;
}

.continues a{
	color:#dd0000;
	font:10px;
	font:bold;
}

article {
	border-bottom: 1px solid #ccc;
}

.bottomnav{
	padding-top: 20px;
	padding-bottom: 10px;
}
.bottomnav a{
	color:#dd0000;
	margin-bottom:10px;
	padding-right:5px;
	border-right: 3px solid #ccc;
}

footer{
	padding-top:10px;
	color:#bbbbbb;
	border-top: 10px;

}